/.idea/axion_opensearch.iml
/.idea/material_theme_project_new.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
performance_test.log
/charts/output/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
